header{
    background-color:#A0522D;
    color:#FFFFFF ;
}
body{
    background-color:#F5E6D3;
    font-family: "inter", sans-serif;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
footer{
    background-color: #C47A6D;
}
#Logo{
    background-color: #FFFFFF;
}
